@using BudgetForecast.Model;
@{
    ViewBag.Title = "_listDataBudgetSale";
    string setWidth = "840px";
    int countList = ((List<StoreSearchBudgetSaleModel>)ViewBag.stkGroupList).Count();
}
<input type="hidden" id="countList" value="@countList" />
<style>
    .fixTableHead {
        overflow-y: auto;
        height: 840px;
    }

        .fixTableHead thead th {
            position: sticky;
            top: 0;
        }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 8px 15px;
        border: 2px solid #529432;
    }

    th {
        background: #9ea8b1;
    }

    .btn .badge {
        position: relative;
        top: 0px !important;
    }

    .highlight {
        background-color: #b8d5aa !important;
    }

    input[type='checkbox'] {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    .input-onkey {
        outline: none !important;
        border: 2px solid #0014ff;
        box-shadow: 0 0 20px #719ECE;
    }

    .input-onsave {
        outline: none !important;
        border: 2px solid #38bf28;
        box-shadow: 0 0 20px #719ECE;
    }
</style>
@if (countList == 1)
{
    setWidth = "750px";
}
@if (countList == 0)
{
    <div class="alert alert-danger text-center" style="font-size: 16px; font-weight: bold;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> ไม่พบข้อมูล โปรดกำหนดเงื่อนไข แล้วกดปุ่ม "Search"</div>
}
else
{
    <div class="card">
        <form method="post" id="formBudgetSale">
            <div class="card-header bg-info text-white font-weight-bold">
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                        <i class="fa fa-list"></i> @ViewBag.slmCode
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 text-right">

                        @countList.ToString("N0") รายการ

                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive fixTableHead">
                    <table class="table dataTable table-striped table-bordered nowrap table-hover" border="1">
                        <thead>
                            <tr style="white-space: nowrap;">
                                <th class="vcenter" style="vertical-align: middle;">Custype</th>
                                <th class="vcenter" style="vertical-align: middle;">Cuscod</th>
                                <th class="vcenter" style="vertical-align: middle;">Cusname</th>
                                <th class="vcenter" style="vertical-align: middle;">Province</th>
                                <th class="vcenter" style="vertical-align: middle;">Slmcod</th>
                                <th class="vcenter" style="vertical-align: middle;">Sec</th>
                                <th class="vcenter" style="vertical-align: middle;">StkGroup</th>
                                <th class="vcenter" style="vertical-align: middle;">StkName</th>
                                <th class="vcenter" style="vertical-align: middle;">LastYear</th>
                                <th class="vcenter" style="vertical-align: middle;">Ytd</th>
                                <th class="vcenter" style="vertical-align: middle;">Budget</th>
                                <th class="vcenter" style="vertical-align: middle;">Budget Next</th>
                            </tr>
                        </thead>
                        <tbody style="font-size: 14px;">
                            @{
                                int rowStkGroup = 0;
                                string nameLastYear = "";
                                string nameSelectList = "";
                                string nameYtd = "";
                                string nameQuota = "";
                                string nameQuotaNext = "";
                                string nameFslm = "";
                                string nameFprod = "";
                                foreach (var stkGroupItem in (List<StoreSearchBudgetSaleModel>)ViewBag.stkGroupList)
                                {
                                    ++rowStkGroup;
                                    <tr>
                                        <td class="vcenter" style="vertical-align: middle;"> @stkGroupItem.CUSTYP</td>
                                        <td class="vcenter" style="vertical-align: middle;">
                                            @{
                                                @stkGroupItem.PEOPLE
                                            }
                                        </td>
                                        <td class="vleft" style="white-space: nowrap; vertical-align: middle;"> @stkGroupItem.CUSNAM</td>
                                        <td class="vcenter" style="vertical-align: middle;"> @stkGroupItem.PRO</td>
                                        <td class="vcenter" style="white-space: nowrap; vertical-align: middle;"> @stkGroupItem.SLMCOD</td>
                                        <td class="vcenter" style="vertical-align: middle;"> @stkGroupItem.SEC</td>
                                        <td class="vcenter" style="vertical-align: middle;"> @stkGroupItem.STKGRP</td>
                                        <td class="vleft" style="vertical-align: middle;"> @stkGroupItem.GRPNAM</td>
                                        <td class="vright" style="vertical-align: middle;">
                                            @{
                                                nameLastYear = "last_year_" + @stkGroupItem.CUSGRP + "_" + @stkGroupItem.STKGRP;
                                                <input data-stkgrp="@stkGroupItem.STKGRP" type="hidden" class="form-control mask vright last_year" name="@nameLastYear" id="@nameLastYear" value="@stkGroupItem.LastYr.ToString("N0")" onkeyup="return sumBudgetSale('last_year');" onkeypress="return validateFloatKeyPress(this,event);" disabled />
                                                @stkGroupItem.LastYr.ToString("N0")
                                            }
                                        </td>
                                        <td class="vright" style="vertical-align: middle;">
                                            @{
                                                nameYtd = "ytd_" + @stkGroupItem.CUSGRP + "_" + @stkGroupItem.STKGRP;
                                                <input data-stkgrp="@stkGroupItem.STKGRP" type="hidden" class="form-control mask vright ytd" name="@nameYtd" id="@nameYtd" value="@stkGroupItem.Ytd.ToString("N0")" onkeyup="return sumBudgetSale('ytd');" onkeypress="return validateFloatKeyPress(this,event);" disabled />
                                                @stkGroupItem.Ytd.ToString("N0")
                                            }
                                        </td>
                                        <td class="vright" style="vertical-align: middle;">
                                            @{
                                                nameQuota = "quota_" + @stkGroupItem.CUSGRP + "_" + @stkGroupItem.STKGRP;
                                                <input data-stkgrp="@stkGroupItem.STKGRP" type="hidden" class="form-control mask vright quota" name="@nameQuota" id="@nameQuota" value="@stkGroupItem.Quota.ToString("N0")" onkeyup="return sumBudgetSale('quota');" onkeypress="return validateFloatKeyPress(this,event);" disabled />
                                                @stkGroupItem.Quota.ToString("N0")
                                            }
                                        </td>
                                        <td class="vcenter" style="vertical-align: middle; text-align: -webkit-center;">
                                            @{
                                                nameFslm = "f_slm_" + @stkGroupItem.CUSGRP + "_" + @stkGroupItem.STKGRP;
                                                <input data-stkgrp="@stkGroupItem.STKGRP" data-cuscod="@stkGroupItem.CUSGRP" data-sec="@stkGroupItem.SEC" data-cusname="@stkGroupItem.CUSNAM" type="text" class="form-control mask vright f_slm inputBudgetSale @nameFslm" name="@nameFslm" id="@nameFslm" value="@stkGroupItem.F_Slm.ToString("N0")" onkeyup="return sumBudgetSale('f_slm');" onkeypress="return validateFloatKeyPress(this,event);" onclick="this.select();" style="width: 110px;" />
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            @*Footer*@
            <div class="card-footer" id="divShowSum">
                <div class="row">
                    <div class="col-lg-2 text-right"> </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-2 p-2" id="div_sum_last_year">
                        <button type="button" class="btn btn-info" style="width: 100%; padding: 10px;">
                            <span> <b>LastYear</b> </span>
                            <span class="badge badge-light" id="sum_last_year" style="font-size: 16px;"></span>
                        </button>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-2 p-2" id="div_sum_ytd">
                        <button type="button" class="btn btn-secondary" style="width: 100%; padding: 10px; ">
                            <b>Ytd</b> <span class="badge badge-light" id="sum_ytd" style="font-size: 16px;"></span>
                        </button>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 p-2" id="div_sum_quota">
                        <button type="button" class="btn btn-warning" style="width: 100%; padding: 10px; ">
                            <span><b>Budget</b></span>
                            <span class="badge badge-light" id="sum_quota" style="font-size: 16px;"></span>
                        </button>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 p-2" id="div_sum_f_slm">
                        <button type="button" class="btn btn-danger" style="width: 100%; padding: 10px; ">
                            <span><b>Budget Next</b></span> <span class="badge badge-light" id="sum_f_slm" style="font-size: 16px;"></span>
                        </button>
                    </div>
                </div>
            </div>
            @*<div class="card-footer" id="divSummaryAll">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button type="button" class="btn btn-success btn-lg" id="btnmol" style="font-size: large;" onclick="saveBudgetSale();"><i class="fa fa-save"></i> Save</button>
                        </div>
                    </div>
                </div>*@
        </form>
    </div>
    //Summary
    <div class="card mb-12" id="cardSummary" style="margin-top: 10px; display: none;">
        <div class="card-header bg-danger text-white font-weight-bold">
            <div class="row">
                <div class="col-sm-6 text-left">
                    <i class="fa fa-usd"></i> Summary
                </div>
                <div class="col-sm-6 text-right">
                    <button type="button" class="btn btn-info btn-sm" onclick="calculateBudgetPm();" style="margin-bottom: -2px; width: 40px;"><i class="fa fa-refresh"></i></button>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="dataTablePage table table-striped table-bordered nowrap table-hover tableFixHead" border="1">
                    <thead>
                        <tr style="white-space: nowrap;">
                            <th class="vcenter" style="vertical-align: middle;"> </th>
                            <th class="vcenter" style="vertical-align: middle;">SL</th>
                            <th class="vcenter" style="vertical-align: middle;">Province</th>
                            <th class="vcenter" style="vertical-align: middle;">Custype</th>
                            <th class="vcenter" style="vertical-align: middle;">CUSKEY</th>
                            <th class="vcenter" style="vertical-align: middle;">Cusname</th>
                            <th class="vcenter" style="vertical-align: middle;">Stkgrp</th>
                            <th class="vcenter" style="vertical-align: middle;">StkgrpName</th>
                            <th class="vcenter" style="vertical-align: middle;">LastYr</th>
                            <th class="vcenter" style="vertical-align: middle;">Ytd</th>
                            <th class="vcenter" style="vertical-align: middle;">Q This Yr</th>
                            <th class="vcenter" style="vertical-align: middle;">Next Quota</th>
                            <th class="vcenter" style="vertical-align: middle;">Next Slm</th>
                            <th class="vcenter" style="vertical-align: middle;">Next Prod</th>
                            <th class="vcenter" style="vertical-align: middle;">Cusgrp</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="8" class="vcenter"> Sum </td>
                            <td class="vright" style="vertical-align: middle;"></td>
                            <td class="vright" style="vertical-align: middle;"></td>
                            <td class="vright" style="vertical-align: middle;"></td>
                            <td class="vright" style="vertical-align: middle;"></td>
                            <td class="vright" style="vertical-align: middle;"></td>
                            <td class="vright" style="vertical-align: middle;"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
<script defer>
    //swal alert
    var toastMixin = Swal.mixin({
        toast: true,
        icon: 'success',
        //title: 'General Title',
        animation: false,
        position: 'top-right',
        showConfirmButton: false,
        timer: 3300,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    });

    if (countList > 0) {
        $('#formBudgetSale').data('serialize', $('#formBudgetSale').serialize()); // On load save form current state
        $(window).bind('beforeunload', function (e) {
            if ($('#formBudgetSale').serialize() != $('#formBudgetSale').data('serialize')) {
                delayHide();
                return true;
            } else {
                e = null;
            }
        });
    }

    function delayHide() {
        timeout = setTimeout(function () {
            LoadingHide();
        }, 3000);
    }

    $(".inputBudgetSale").on("change paste keyup", function () {
        let nameInput = $(this).attr("name");
        if (nameInput != "") {
            //เพิ่มสี input
            $("input[name=" + nameInput + "]").removeClass('input-onsave');
            $("input[name=" + nameInput + "]").addClass('input-onkey');
            //$('.defaultInput').removeClass('error');
        }
    });

    $("[class*=f_slm_]").focusin(function () {
        var stkgrp = $(this).data('stkgrp');
        var cusCode = $(this).data('cuscod');
        var cusName = $(this).data('cusname');
        var sec = $(this).data('sec');
        console.log("stkgrp = " + stkgrp + " - " + cusCode);
        if (cusCode != '' && stkgrp != '') {
            var inputValueOld = parseInt($("input[name=f_slm_" + cusCode + "_" + stkgrp + "]").val().replace(/\,/g, ''));
            $(this).one('focusout', function () {
                var inputValueNewNoReplace = $("input[name=f_slm_" + cusCode + "_" + stkgrp + "]").val();
                var inputValueNew = parseInt($("input[name=f_slm_" + cusCode + "_" + stkgrp + "]").val().replace(/\,/g, ''));
                console.log('inputValueOld = ' + inputValueOld + ' | ' + ' inputValueNew = ' + inputValueNew);
                if (inputValueOld != inputValueNew) {
                    $.ajax({
                        type: 'POST',
                        cache: false,
                        url: '@Url.Action("SaveBudget", "BudgetSale")',
                        data: JSON.stringify({
                            USER: '@Session["UserID"]',
                            CUSCODE: cusCode,
                            STKGRP: stkgrp,
                            F_SLM: inputValueNew || 0,
                        }),
                       // dataType: 'json',
                        traditional: true,
                        contentType: "application/json; charset=utf-8",
                        processData: false,
                        beforeSend: function () {
                            // LoadingShow();
                        },
                        success: function (result) {
                            if (result.status == "success") {
                                $("input[name=f_slm_" + cusCode + "_" + stkgrp  + "]").removeClass('input-onkey');
                                $("input[name=f_slm_" + cusCode + "_" + stkgrp + "]").addClass('input-onsave');
                                //disbled beforeunload
                                $(window).unbind('beforeunload');
                                calculateBudgetPm();
                                //save flagAfterSave = 'Y'
                                //$("#flagAfterSaveMonth").val('Y')
                                //$("#flagAfterSaveSec").val('Y')
                                //var flagAfterSaveMonth = $("#flagAfterSaveMonth").val();
                                //var flagAfterSaveSec = $("#flagAfterSaveSec").val();

                                //var flagReloadByMonth = $("#flagReloadByMonth").val();
                                //if (flagReloadByMonth == 'Y') {
                                //    $("#flagAfterSaveMonth").val('N');
                                //    getDataForecastByMonth(slmCode, cusCodeAll, stkSec, prodMgr, year, 2, 0)
                                //}
                                //var flagReloadBySec = $("#flagReloadBySec").val();
                                //if (flagReloadBySec == 'Y') {
                                //    $("#flagAfterSaveSec").val('N');
                                //    getDataForecastByMonth(slmCode, cusCodeAll, stkSec, prodMgr, year, 3, monthSelect)
                                //}
                                toastMixin.fire({
                                    animation: true,
                                    html: '<div style="font-size: 20px; font-weight: bold; padding-left: 5px;">' + stkgrp + ' | ' + cusName + ' | ' + inputValueNewNoReplace + '</div>',
                                });
                            }
                            else if (result.status == "unsuccess") {
                                LoadingHide();
                                Swal.close();
                                Swal.fire({
                                    icon: 'warning',
                                    title: 'บันทึก Budget ไม่สำเร็จ',
                                    html: 'ข้อมูล BudGet ไม่ถูกต้อง <br>' + 'Customer : ' + cusName + '<br> Sec : ' + sec + '<br> StkGroup : ' + stkgrp,
                                    confirmButtonColor: '#d33',
                                    confirmButtonText: 'ปิด',
                                    allowOutsideClick: false,
                                    focusConfirm: false,
                                });
                            }
                            else {
                                LoadingHide();
                                Swal.close();
                                Swal.fire({
                                    icon: 'error',
                                    title: 'กรุณาแจ้งผู้ดูแลระบบ<br>โดยการแคปหน้าจอและก๊อปปี้ Error ด่านล่างนี้<br>saveBudgetSale<br>',
                                    html: result.message,
                                    confirmButtonColor: '#d33',
                                    confirmButtonText: 'ปิด',
                                    allowOutsideClick: false,
                                    focusConfirm: false,
                                });
                            }

                        },
                        error: function (ex) {
                            //notify(ex, 'danger');
                        },
                        complete: function (res) {
                            //LoadingHide();
                        }
                    }).fail(function (error) {
                        console.log(error);

                        LoadingHide();
                        Swal.close();
                        Swal.fire({
                            icon: 'error',
                            title: 'ระบบทำงานผิดพลาด()',
                            html: 'กรุณาแจ้งผู้ดูแลระบบ<br>โดยการแคปหน้าจอและก๊อปปี้ Error ด่านล่างนี้<br>saveForecastSale' + error.responseText + '<br><br>',
                            confirmButtonColor: '#d33',
                            confirmButtonText: 'ปิด',
                            allowOutsideClick: false,
                            focusConfirm: false,
                        });
                    });
                }
            });
        }
    });
    //btn save
    saveBudgetSale = async () => {
        var msg = '';
        var error = 0;
        var textMsg = '<div class="vcenter" style="padding: 7px;">';
        var selectListLength = $('.selectList:checked').length || 0;
        var request = [];
        if (selectListLength == 0) {
            ++error;
            msg += '<br>' + error + '. กรุณาเลือกรายการอย่างน้อย 1 รายการ';
        } else {
            textMsg += 'จำนวน ' + selectListLength.toLocaleString() + ' รายการ';
        }

        if (error) {
            Swal.fire({
                icon: 'warning',
                title: 'กรุณาตรวจสอบข้อมูลต่อไปนี้',
                html: msg,
                confirmButtonColor: '#d33',
                confirmButtonText: 'ปิด',
                allowOutsideClick: false,
                focusConfirm: false,
            });
            return false;
        } else {
            Swal.fire({
                title: 'ยืนยันการบันทึกข้อมูล',
                html: textMsg,
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#00a65a',
                cancelButtonColor: '#d33',
                confirmButtonText: '<i class="fa fa-check"></i> ยืนยัน',
                cancelButtonText: '<i class="fa fa-times"></i> ไม่',
                allowOutsideClick: false,
                focusConfirm: false,
            }).then((result) => {
                if (result.value) {
                    $('.selectList:checked').each(function () {
                        var cusCode = $(this).data('cuscode');
                        var stkGrp = $(this).data('stkgrp');
                        var details = {
                            USER: '@Session["UserID"]',
                            SLMCODE: '',
                            CUSCODE: cusCode,
                            STKGRP: stkGrp,
                            YEAR: '',
                            F_SLM: parseInt($("input[name=f_slm_" + cusCode + "_" + stkGrp + "]").val().replace(/\,/g, '')),
                        }
                        request.push(details);
                    });
                    //console.log(request);
                    //return false;
                    $.ajax({
                        type: 'POST',
                        cache: false,
                        url: '@Url.Action("SaveBudget", "BudgetSale")',
                        data: JSON.stringify(request),
                        contentType: "application/json; charset=utf-8",
                        enctype: 'multipart/form-data',
                        beforeSend: function () {
                            LoadingShow();
                        },
                        success: function (result) {
                            if (result != null) {
                                $(window).unbind('beforeunload');
                                Swal.fire({
                                    title: 'บันทึกเรียบร้อย',
                                    //html: 'บันทึกเรียบร้อย',
                                    icon: 'success',
                                    confirmButtonColor: '#3085d6',
                                    confirmButtonText: 'ปิด',
                                    allowOutsideClick: false,
                                    focusConfirm: false,
                                    timer: 6000,
                                    timerProgressBar: true,
                                    onClose: () => {
                                        $(window).unbind('beforeunload');
                                        $("#slmCode").prop('disabled', false);
                                        LoadingHide();
                                        $('form[id="BudgetSale"]').submit();
                                        //location.reload(true);
                                    }
                                });
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    //title: res.msg,
                                    html: 'พบข้อผิดพลาด',
                                    confirmButtonColor: '#d33',
                                    confirmButtonText: 'ปิด',
                                    allowOutsideClick: false,
                                    focusConfirm: false,
                                });
                            }
                        },
                        error: function (ex) {
                            //notify(ex, 'danger');
                        },
                        complete: function (res) {
                            LoadingHide();
                        }
                    }).fail(function (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'ระบบทำงานผิดพลาด()',
                            html: 'กรุณาแจ้งผู้ดูแลระบบ<br>โดยการแคปหน้าจอและก๊อปปี้ Error ด่านล่างนี้<br>saveForcastSale<br><br>',
                            confirmButtonColor: '#d33',
                            confirmButtonText: 'ปิด',
                            allowOutsideClick: false,
                            focusConfirm: false,
                        });
                    });
                }
            });
        }
    }

    //async function selectAll(obj) {
    //    LoadingShow();
    //    $('.selectList').each(function () {
    //        var cusCode = $(this).data('cuscode');
    //        var stkGrp = $(this).data('stkgrp');
    //        $('#' + cusCode + "_" + stkGrp).trigger('click');

    //    LoadingHide();
    //}

    //check state
    document.onreadystatechange = function () {
        if (document.readyState === 'interactive') {
            LoadingShow();
        }

        if (document.readyState === "complete") {
            //calculateBudgetPm();
            LoadingHide();
        }
    }

    $(document).ready(function () {
        //check box all
        $('#selectAll').click(function (event) {
            if (this.checked) {
                $(':checkbox').each(function () {;
                    this.checked = true;
                    $(this).closest('tr').toggleClass('highlight', $(this).is(':checked'));
                    //enable input
                    var cusCode = $(this).data('cuscode');
                    var stkGrp = $(this).data('stkgrp');
                    $('#f_slm_' + cusCode + '_' + stkGrp).attr("disabled", false);

                });
            } else {
                $(':checkbox').each(function () {
                    this.checked = false;
                    $(this).closest('tr').toggleClass('highlight', $(this).is(':checked'));
                     //disable input
                    var cusCode = $(this).data('cuscode');
                    var stkGrp = $(this).data('stkgrp');
                    $('#f_slm_' + cusCode + '_' + stkGrp).attr("disabled", true);
                });
            }
        });
        //check box disable/enable text field
        $('.selectList').change(function () {
            var cusCode = $(this).data('cuscode');
            var stkGrp = $(this).data('stkgrp');

            if ($(this).is(':checked')) {
                $('#f_slm_' + cusCode + '_' + stkGrp).attr("disabled", false);
            } else {
                $('#f_slm_' + cusCode + '_' + stkGrp).attr("disabled", true);
            }
            $(this).closest('tr').toggleClass('highlight', $(this).is(':checked'));
        });
        //click td first checkbok auto
        $('.table td:first-child').click(function (e) {
            if (e.target.type !== 'checkbox') {
                //$(':checkbox', this).prop('checked', function (i, c) { return !c; });
                $(':checkbox', this).trigger('click');
            }
        });
        calculateBudgetPm();
        $('input.mask').keyup(function (event) {
            // skip for arrow keys
            if (event.which >= 37 && event.which <= 40) {
                event.preventDefault();
            }
            var $this = $(this);
            var num = $this.val().replace(/,/gi, "").split("").reverse().join("");
            var num2 = RemoveRougeChar(num.replace(/(.{3})/g, "$1,").split("").reverse().join(""));
            //console.log(num2);
            // the following line has been simplified. Revision history contains original.
            $this.val(num2);
        });
    });
</script>
