@using BudgetForecast.Model;
@{
    ViewBag.Title = "Budget by sale";
    List<SelectListItem> getSlmCode = ViewBag.SlmCodeList;
    List<SelectListItem> getProdList = ViewBag.ProdList;
    List<SelectListItem> getStkSec = ViewBag.stkSecList;
}
<input type="hidden" id="slmCode_header" value="@ViewBag.slmCode" />
<input type="hidden" name="cusCode_header[]" id="cusCode_header" value="@ViewBag.cusCode" />
<input type="hidden" name="prodMgr_header[]" id="prodMgr_header" value="@ViewBag.prodMgr" />
<input type="hidden" name="stkSec_header[]" id="stkSec_header" value="@ViewBag.stkSec" />
<input type="hidden" id="year_header" value="@ViewBag.year" />
<input type="hidden" id="flagInput" value="@ViewBag.flagInput" />

<title>@ViewBag.Title</title>
<div class="card mb-12 mt-4">
    <form action="@Url.Action("Index", "BudgetSale")" method="post" id="BudgetSale" onsubmit="">
        <div class="card-header bg-primary text-white font-weight-bold" onclick="hideHeader();" style="cursor: pointer;">
            <div class="row">
                <div class="col-sm-12">
                    <i class="fa fa-table"></i> Budget by sale <i class="fa fa-angle-down" style="font-size: larger; font-weight: bold;"></i>
                </div>
            </div>
        </div>
        <div class="card-body" id="headerSearch">
            <div class="row">
                <div class="col-sm-3 col-lg-3">
                    <div class="form-group">
                        <span> <i class="fa fa-user"></i><b> SLMCODE:</b></span>
                        <span>
                            <select class="form-control selectpicker" id="slmCode" name="slmCode" style="width: 100%;" data-live-search="true" data-none-selected-text="เลือก SLMCODE">
                                @for (var i = 0; i < getSlmCode.Count; i++)
                                {
                                    <option value="@getSlmCode[i].Value">@getSlmCode[i].Text</option>
                                }
                            </select>
                        </span>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2">
                    <div class="form-group">
                        <span> <i class="fa fa-calendar"></i><b> YEAR:</b></span>
                        <span>
                            <select class="form-control selectpicker" id="year" name="year" style="width: 100%;">
                                <option value="2023" selected>2023</option>
                                <option value="2022">2022</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="col-md-7 col-lg-7">
                    <div class="form-group">
                        <span> <i class="fa fa-shopping-cart"></i><b> CUSTOMER CODE:</b></span>
                        <span>
                            <select class="form-control selectpicker cusCode" id="cusCode" name="cusCode" style="width: 100%; padding-top: 5px;" title="เลือก CUSTOMER" data-live-search="true" multiple>
                            </select>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <div class="form-group">
                        <span> <i class="fa fa-users"></i><b> PROD MGR:</b></span>
                        <span>
                            <select class="form-control selectpicker" id="prodMgr" name="prodMgr" data-live-search="true" style="width: 100%;" title="เลือก PROD MGR">
                                @*<option value="0" selected>เลือก PROD</option>*@
                                @for (var i = 0; i < getProdList.Count; i++)
                                {
                                    <option value="@getProdList[i].Value">@getProdList[i].Text</option>
                                }
                            </select>
                        </span>
                    </div>
                </div>
                <div class="col-sm-9 col-md-9">
                    <div class="form-group">
                        <span> <i class="fa fa-shopping-cart"></i><b> SEC:</b></span>
                        <span>
                            <select class="form-control selectpicker stkSec" id="stkSec" name="stkSec" style="width: 100%; padding-top: 5px;" title="เลือก SEC" data-live-search="true" multiple>
                                <option value="ALL">SEC ทั้งหมด</option>

                                @for (var i = 0; i < getStkSec.Count; i++)
                                {
                                    <option value="@getStkSec[i].Value">@getStkSec[i].Text</option>
                                }
                            </select>
                        </span>
                    </div>
                </div>
            </div>
            <input type="hidden" name="stkGrp" id="stkGrp" value="" />
        </div>
        <div class="card-footer" id="headerSearchFooter">
            <div class="row">
                <div class="col-xs-12 col-md-12 text-right">
                    @if (ViewBag.cusCode != "[]")
                    {
                        <button type="button" class="btn btn-success btn-lg" id="btnmol" style="font-size: medium; float: left; position: relative; " onclick="saveBudgetSale();"><i class="fa fa-save"></i> Save</button>
                    }
                    <button type="button" onclick="resetSearch();" class="btn btn-default btn-lg" id="btnmol" style="font-size: medium;"><i class="fa fa-refresh"></i> Reset</button> &nbsp;
                    <button type="button" class="btn btn-primary btn-lg" onclick="searchBudget();" style="font-size: medium;"><i class="fa fa-search"></i> Search</button>
                </div>
            </div>
        </div>
    </form>
</div>
@*input*@
<div class="pt-2">
    @{
        if (@ViewBag.flagInput == "NO" && ((List<StoreSearchBudgetSaleModel>)ViewBag.stkGroupList).Count() != 0)
        {
            <div class="col-xs-12 col-md-12 col-lg-6 alert alert-danger alert-dismissible fade show text-left" style="font-size: 18px; font-weight: bold;"> <button type="button" class="close" data-dismiss="alert">&times;</button> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Budget กรอกข้อมูลได้ช่วงวันที่ @ViewBag.startDate ถึง @ViewBag.endDate เท่านั้น</div>
        }
    }
    @Html.Partial("_listDataBudgetSale", new { ViewBag.stkGroupList, @ViewBag.slmCode })
</div>

<br>
<br>

<script defer>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }

    function searchBudget() {
        var msg = '';
        var error = 0;
        var stksec = $("#cusCode option:selected").val();
        if (stksec == undefined) {
            ++error;
            msg += '<br>' + error + '. กรุณาเลือก CUSTOMER อย่างน้อย 1 รายการ';
        }
        if (error) {
            Swal.fire({
                icon: 'warning',
                title: 'กรุณาตรวจสอบข้อมูลต่อไปนี้',
                html: msg,
                confirmButtonColor: '#d33',
                confirmButtonText: 'ปิด',
                allowOutsideClick: false,
                focusConfirm: false,
            });
            return false;
        } else {
            //LoadingShow();
            $('form[id="BudgetSale"]').submit();
        }
    }

    $(document).ready(function () {
        //selectpicker stkgrp
        function toggleSelectAll(control) {
            var allOptionIsSelected = (control.val() || []).indexOf("ALL") > -1;
            function valuesOf(elements) {
                return $.map(elements, function (element) {
                    return element.value;
                });
            }

            if (control.data('allOptionIsSelected') != allOptionIsSelected) {
                if (allOptionIsSelected) {
                    control.selectpicker('val', valuesOf(control.find('option')));
                } else {
                    control.selectpicker('val', []);
                }
            } else {
                if (allOptionIsSelected && control.val().length != control.find('option').length) {
                    control.selectpicker('val', valuesOf(control.find('option:selected[value!=ALL]')));
                    allOptionIsSelected = false;
                } else if (!allOptionIsSelected && control.val().length == control.find('option').length - 1) {
                    control.selectpicker('val', valuesOf(control.find('option')));
                    allOptionIsSelected = true;
                }
            }
            control.data('allOptionIsSelected', allOptionIsSelected);
        }
        $('#cusCode').selectpicker().change(function () { toggleSelectAll($(this)); }).trigger('change');
        $('#stkSec').selectpicker().change(function () { toggleSelectAll($(this)); }).trigger('change');
         //GET Stkgroup
        $('#prodMgr').change(function () {
            var ProdMRG = $('#prodMgr').val();
            $.ajax({
                url: '@Url.Action("GetSTKGRP", "BudgetSale")',
                data: {
                    ProdMRG: ProdMRG
                },
                type: "POST",
                dataType: "JSON",
                success: function (data) {
                    // console.log(data);
                    var select = $("#stkSec");
                    select.children().remove();
                    select.append($("<option>").val("ALL").text("SEC ทั้งหมด"));
                    $(data).each(function (index, item) {
                        select.append($("<option>").val(item.SEC).text(item.SEC + "/" + item.SECNAM));
                    });
                    $('#stkSec').selectpicker('refresh');
                    $('#stkSec').selectpicker('val', JSON.parse($("#stkSec_header").val()));
                }
            });
        });
    });
    //hide header
    function hideHeader() {
        var x = document.getElementById("headerSearch");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        var y = document.getElementById("headerSearchFooter");
        if (y.style.display === "none") {
            y.style.display = "block";
        } else {
            y.style.display = "none";
        }
    }

    function getCustomerBySlmCode(_slmCode) {
        //alert(_slmCode);
        let slmCode = "";
        if (_slmCode == "") {
            slmCode = $("#slmCode option:selected").val();
        } else {
            slmCode = _slmCode;
        }
        //alert(slmCode);
        $.ajax({
            url: '@Url.Action("Getdatabyslm", "BudgetSale")',
            data: {
                slmCode: slmCode,
            },
            type: "POST",
            dataType: "JSON",
            success: function (data) {
                //console.log(data);
                var select = $("#cusCode");
                select.children().remove();
                select.append($("<option>").val("ALL").text("ลูกค้าทั้งหมด"));
                $.each(data, function (key, value) {
                    select.append('<option value=' + value.CUSCOD + '>' + value.CUSCOD + '|' + value.CUSNAM + /*"----ที่อยู่ " + value.ADDR_01 + " " + value.PRO +*/ '</option>');
                });
                if ($("#cusCode option:selected").val() == "") {
                    $("#cusCode").val($("#cusCode option:first").val());
                }
                $('#cusCode').selectpicker('refresh');
                //customer selected
                $('#cusCode').selectpicker('val', JSON.parse($("#cusCode_header").val()));
            }
        });
    }

    function resetSearch() {
        LoadingShow();
        location.reload();
        LoadingHide();
    }

    $('#slmCode').change(function () {
        $.ajax({
            url: '@Url.Action("Getdatabyslm", "BudgetSale")',
            data: {
                slmCode: $(this).val(),
            },
            type: "POST",
            dataType: "JSON",
            success: function (data) {
                //console.log(data);
                var select = $("#cusCode");
                select.children().remove();
                select.append($("<option>").val("ALL").text("ลูกค้าทั้งหมดของ"));
                $.each(data, function (key, value) {
                    select.append('<option value=' + value.CUSCOD + '>' + value.CUSCOD + '|' + value.CUSNAM + '</option>');
                });
                $('#cusCode').selectpicker('refresh');
                if ($("#cusCode option:selected").val() == "") {
                    $("#cusCode").val($("#cusCode option:first").val());
                }
            }
        });
    });

    function getStkgrpByProd(_prodCode) {
        //alert(_slmCode);
        let prod = "";
        if (_prodCode == "") {
            prodCode = $("#prodMgr option:selected").val();
        } else {
            prodCode = _prodCode;
        }
        //alert(slmCode);
        $.ajax({
            url: '@Url.Action("GetSTKGRP", "ForecastPm")',
            data: {
                ProdMRG: prodCode
            },
            type: "POST",
            dataType: "JSON",
            success: function (data) {
                // console.log(data);
                var select = $("#stkSec");
                select.children().remove();
                select.append($("<option>").val("ALL").text("SEC ทั้งหมด"));
                $(data).each(function (index, item) {
                    select.append($("<option>").val(item.SEC).text(item.SEC + "/" + item.SECNAM));
                });
                $('#stkSec').selectpicker('refresh');
                $('#stkSec').selectpicker('val', JSON.parse($("#stkSec_header").val()));
            }
        });
    }

    document.onreadystatechange = function () {
        if (document.readyState === 'interactive') {
            LoadingShow();
        }
        if (document.readyState === "complete") {
            $('#slmCode').val($("#slmCode_header").val());
            $('#cusCode').selectpicker('val', JSON.parse($("#cusCode_header").val()));
            $('#prodMgr').selectpicker('val', $("#prodMgr_header").val());
            $('#stkSec').selectpicker('val', JSON.parse($("#stkSec_header").val()));
            $('#year').val($("#year_header").val());
             //get list customer
            getCustomerBySlmCode($('#slmCode option:selected').val());
            getStkgrpByProd($("#prodMgr option:selected").val());
            //flagInput = เลยเวลาคีย์แล้ว
            let flagInput = $("#flagInput").val();
            if (flagInput == 'NO') {
                $(window).unbind('beforeunload');
                $("input[type=checkbox]").prop('disabled', true);
            }
            LoadingHide()
        }
    }
</script>