@using BudgetForecast.Model;
@{
    ViewBag.Title = "_listDataForcastSale";
    var arrMonth = @ViewBag.monthList;
    string codeColorMonthCurrent = "#f9ecdc";
    int monthInputCurrent = 0;
    string setHeight = "980px";
    string setHeightCustomer = "920px";
    string name1 = Environment.MachineName; //returns webserver
    string name2 = System.Net.Dns.GetHostName(); //returns webserver
                                                 // string name3 = System.Windows.Forms.SystemInformation.ComputerName; //returns webserver
    string name4 = System.Environment.GetEnvironmentVariable("COMPUTERNAME").ToString();//returns webserver

    var monthSplits = @ViewBag.MonthYearList[0].Text.Split('-');
    monthInputCurrent = int.Parse(monthSplits[0]);
    string formattedMonthInputCurrent = monthInputCurrent.ToString("00");
}
@*Summary by month*@
<div class="card mb-12" style="padding-bottom: 10px;">
    <div class="card-body" style="padding: 0px 15px 0px; margin-bottom: -15px;">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-striped table-bordered nowrap table-hover" border="1">
                    <thead>
                        <tr style="white-space: nowrap;">
                            <th rowspan="2" align="center" class="vcenter" style="vertical-align: middle; min-width: 210px;">Type</th>
                            <th rowspan="2" align="center" class="vcenter" style="vertical-align: middle; min-width: 100px;">Last Year</th>
                            <th rowspan="2" align="center" class="vcenter" style="vertical-align: middle; min-width: 100px;">Total</th>
                            <th rowspan="2" colspan="2" align="center" class="vcenter" style="vertical-align: middle; min-width: 190px;">Under/Over</th>
                            <th colspan="12" align="center" class="vcenter" style="vertical-align: middle;"> 2023 </th>
                        </tr>
                        <tr>

                            @{
                                foreach (var monthItemCur in @ViewBag.monthList)
                                {
                                    string bgMonthCurrent = "";
                                    if (formattedMonthInputCurrent == monthItemCur)
                                    {
                                        bgMonthCurrent = codeColorMonthCurrent;
                                    }
                                    <th class="vcenter" align="center" style="font-weight: 700; min-width: 130px; background-color: @bgMonthCurrent"> @monthItemCur </th>
                                }
                            }

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dataItemByMonth in (List<StoreSearchForecastSaleModel>)ViewBag.sumByMonth)
                        {
                            if (dataItemByMonth.Caption != "Avg")
                            {
                                string captionText = "";
                                string captionIdLastYear = "";
                                string captionIdTotal = "";
                                string captionUnderBudget = "";
                                string captionOverBudget = "";
                                string captionByMonth = "";

                                string colorTd = "";
                                if (dataItemByMonth.Caption == "FC")
                                {
                                    captionText = "Forecast";
                                    colorTd = "background-color: #ccebedc9";
                                }
                                else if (dataItemByMonth.Caption == "NewFC")
                                {
                                    //captionText = "Forecast";
                                    //colorTd = "background-color: #ccebedc9";
                                    continue;
                                }
                                else
                                {
                                    captionText = dataItemByMonth.Caption;
                                }
                                //idLastYear
                                captionIdLastYear = "sum_last_year_" + @captionText.ToString().ToLower() + "_all";
                                captionIdTotal = "sum_total_" + @captionText.ToString().ToLower() + "_all";
                                captionUnderBudget = "sum_under_" + @captionText.ToString().ToLower() + "_all";
                                captionOverBudget = "sum_over_" + @captionText.ToString().ToLower() + "_all";

                                <tr style="white-space: nowrap;">
                                    <td style="vertical-align: middle; @colorTd"> <b>  @captionText </b> </td>
                                    <td class="vright" style="vertical-align: middle; font-weight: 700; @colorTd"> <span id="@captionIdLastYear" style="font-size: 16px;"> @dataItemByMonth.Last_year.ToString("N0") </span> </td>
                                    <td class="vright" style="vertical-align: middle; font-weight: 700; @colorTd"> <span id="@captionIdTotal" style="font-size: 16px;"> @dataItemByMonth.Total_Caption.ToString("N0") </span> </td>
                                    <td class="vright" style="vertical-align: middle; font-weight: 700; min-width: 90px; @colorTd"> <span class="" id="@captionUnderBudget" style="font-size: 16px;"> 0 </span> </td>
                                    <td class="vright" style="vertical-align: middle; font-weight: 700; min-width: 90px; @colorTd"> <span class="" id="@captionOverBudget" style="font-size: 16px;"> 0 </span> </td>
                                    @foreach (string monthItemCur in @ViewBag.monthList)
                                    {
                                        string bgMonthCurrent = "";
                                        double valByMonthSumAll = 0;

                                        if (dataItemByMonth.Caption == "FC")
                                        {
                                            if (formattedMonthInputCurrent == monthItemCur)
                                            {
                                                bgMonthCurrent = codeColorMonthCurrent;
                                            }
                                            else
                                            {
                                                bgMonthCurrent = "#ccebedc9";
                                            }
                                        }
                                        else 
                                        {
                                            if (formattedMonthInputCurrent == monthItemCur)
                                            {
                                                bgMonthCurrent = codeColorMonthCurrent;
                                            }
                                        }
                                        switch (monthItemCur)
                                        {
                                            case "01":
                                                valByMonthSumAll = dataItemByMonth.M01;
                                                break;
                                            case "02":
                                                valByMonthSumAll = dataItemByMonth.M02;
                                                break;
                                            case "03":
                                                valByMonthSumAll = dataItemByMonth.M03;
                                                break;
                                            case "04":
                                                valByMonthSumAll = dataItemByMonth.M04;
                                                break;
                                            case "05":
                                                valByMonthSumAll = dataItemByMonth.M05;
                                                break;
                                            case "06":
                                                valByMonthSumAll = dataItemByMonth.M06;
                                                break;
                                            case "07":
                                                valByMonthSumAll = dataItemByMonth.M07;
                                                break;
                                            case "08":
                                                valByMonthSumAll = dataItemByMonth.M08;
                                                break;
                                            case "09":
                                                valByMonthSumAll = dataItemByMonth.M09;
                                                break;
                                            case "10":
                                                valByMonthSumAll = dataItemByMonth.M10;
                                                break;
                                            case "11":
                                                valByMonthSumAll = dataItemByMonth.M11;
                                                break;
                                            case "12":
                                                valByMonthSumAll = dataItemByMonth.M12;
                                                break;
                                            default:
                                                valByMonthSumAll = 0;
                                                break;
                                        }

                                        captionByMonth = "sum_sale_" + @captionText.ToString().ToLower() + "_" + @monthItemCur.TrimStart('0') + "_all";
                                        <td class="vright" align="center" style="font-weight: 700; background-color: @bgMonthCurrent">
                                            <span class="" id="@captionByMonth" style="font-size: 16px;">
                                                @if (valByMonthSumAll != 0)
                                                {
                                                    @valByMonthSumAll.ToString("N0")
                                                }
                                            </span>
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>