@using BudgetForecast.Model;
@{
    ViewBag.Title = "Mid Month Forecast by salesman";
    List<SelectListItem> getSlmCode = ViewBag.SlmCodeList;
    List<SelectListItem> getProdList = ViewBag.ProdList;
    List<SelectListItem> Sec = ViewBag.SecList;
    List<SelectListItem> MonthYearDrop = ViewBag.MonthYearList;
    //List<SelectListItem> customCode = ViewBag.cusCode;
    ViewBag.MonthYearList = MonthYearDrop;

    int monthInputCurrentIndex = 0;
    var monthSplits = @ViewBag.MonthYearList[0].Text.Split('-');
    monthInputCurrentIndex = int.Parse(monthSplits[0]);
    string formattedMonthInputCurrentIndex = monthInputCurrentIndex.ToString("00");
}
<input type="hidden" id="slmCode_header" value="@ViewBag.slmCode" />
<input type="hidden" name="cusCode_header[]" id="cusCode_header" value="@ViewBag.cusCode" />
<input type="hidden" name="cusCodeAll_header[]" id="cusCodeAll_header" value="" />
<input type="hidden" name="cusCodeAllCount_header[]" id="cusCodeAllCount_header" value="0" />
<input type="hidden" name="prodMgr_header[]" id="prodMgr_header" value="@ViewBag.prodMgr" />
<input type="hidden" name="stkSec_header[]" id="stkSec_header" value="@ViewBag.stkSec" />
<input type="hidden" name="stkSecAll_header[]" id="stkSecAll_header" value="" />
<input type="hidden" name="stkSecAllCount_header[]" id="stkSecAllCount_header" value="@ViewBag.SecList.Count" />
<input type="hidden" id="year_header" value="@ViewBag.year" />
<input type="hidden" id="flagInput" value="@ViewBag.flagInput" />
<input type="hidden" id="monthInputCurrent" value="@formattedMonthInputCurrentIndex" />
<input type="hidden" id="flagReloadByMonth" value="N" />
<input type="hidden" id="flagReloadBySec" value="N" />
<input type="hidden" id="flagTabBySecAll" value="N" />

<input type="hidden" id="flagSelectCustomerAll" value="N" />
<input type="hidden" id="flagSelectSecAll" value="N" />

<input type="hidden" id="flagAfterSaveMonth" value="N" />
<input type="hidden" id="flagAfterSaveSec" value="N" />
<input type="hidden" id="flagSup" value="@ViewBag.flagSup" />

<style>
    /*   .dropdown-menu .bs-actionsbox .bs-select-all {
        display: none;
    }

    .dropdown-menu .bs-actionsbox .bs-deselect-all {
        width: 100%;
    }*/
    .note_text {
        max-width: 130px
    }

    .custom-textarea-class {
        width: 500px !important;
        display: flex;
        height: 169px !important;
        min-width: 500px !important;
        max-width: 500px !important;
    }

    .popup-textarea-class {
        border-style: none;
        border-color: Transparent;
        background-color: Transparent;
        min-height: 169px !important;
        overflow: auto;
        outline: none;
        resize: none;
        box-shadow: none !important;
        width: 500px !important;
        display: flex !important;
        max-width: 450px !important;
    }
</style>
<title>@ViewBag.Title</title>
<div class="card mb-12 mt-4">
    <form action="@Url.Action("Index", "ForecastMidMonthSale")" method="post" id="forecastSaleForm" onsubmit="">
        <div class="card-header bg-primary text-white font-weight-bold" onclick="hideHeader();" style="cursor: pointer;">
            <div class="row">
                <div class="col-sm-12">
                    <i class="fa fa-table"></i> Forecast Mid month by salesman <i class="fa fa-angle-down" style="font-size: larger; font-weight: bold;"></i>
                </div>
            </div>
        </div>
        <div class="card-body" id="headerSearch">
            <div class="row">
                <div class="col-sm-3 col-lg-3">
                    <div class="form-group">
                        <span> <i class="fa fa-user"></i><b> SLMCODE:</b></span>
                        <span>
                            <select class="form-control selectpicker" id="slmCode" name="slmCode" style="width: 100%;" data-live-search="true" data-none-selected-text="SELECT SLMCODE">
                                @for (var i = 0; i < getSlmCode.Count; i++)
                                {
                                    <option value="@getSlmCode[i].Value">@getSlmCode[i].Text</option>
                                }
                            </select>
                        </span>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2">
                    <div class="form-group">
                        <span> <i class="fa fa-calendar"></i><b> YEAR:</b></span>
                        <span>
                            <select class="form-control selectpicker" id="year" name="year" style="width: 100%;">
                                <option value="2024" selected>2024</option>
                                <option value="2023">2023</option>

                            </select>
                        </span>
                    </div>
                </div>
                <div class="col-md-7 col-lg-7">
                    <div class="form-group">
                        <span> <i class="fa fa-shopping-cart"></i><b> CUSTOMER CODE:</b></span> @*<span style="color: red; margin-left: 50px;"> *limit select 10 customers </span>*@ &nbsp;&nbsp;&nbsp; <span id="showCustomerSelected" style="display: none; font-weight: bold;"> (Customers selected <span id="countCustomerSelected"></span>) </span>
                        <span>
                            <select class="form-control selectpicker cusCode" id="cusCode" name="cusCode" style="width: 100%; padding-top: 5px;" title="SELECT CUSTOMER" data-live-search="true" data-max-options-message="limit select 10 customer" multiple>
                            </select>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <div class="form-group">
                        <span> <i class="fa fa-users"></i><b> PROD MGR:</b></span>
                        <span>
                            <select class="form-control selectpicker" id="prodMgr" name="prodMgr" style="width: 100%;" title="SELECT PROD MGR">
                                <option value="ALL">SELECT PROD MGR ALL</option>
                                @for (var i = 0; i < getProdList.Count; i++)
                                {
                                    <option value="@getProdList[i].Value">@getProdList[i].Text</option>
                                }
                            </select>
                        </span>
                    </div>
                </div>
                <div class="col-sm-9 col-md-9">
                    <div class="form-group">
                        <span> <i class="fa fa-shopping-cart"></i><b> SEC:</b></span>
                        <span>
                            <select class="form-control selectpicker stkSec" id="stkSec" name="stkSec" style="width: 100%; padding-top: 5px;" title="SELECT SEC" data-live-search="true" multiple>
                                <option value="ALL">SEC ALL</option>
                                @*@for (var i = 0; i < Sec.Count; i++)
                                    {
                                        <option value="@Sec[i].Value">@Sec[i].Text</option>
                                    }*@
                                @foreach (var se in Sec)
                                {
                                    <option value="@se.Value">@se.Text</option>
                                }
                            </select>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-4">
                    <div class="form-group">
                        <span> <i class="fa fa-usd"></i><b> VALUE:</b></span>
                        <br>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-danger active" id="flgBudget2">
                                <input type="radio" name="flgBudget" value="1" autocomplete="off" checked> <b>YES</b>
                            </label>
                            <label class="btn btn-light" id="flgBudget1">
                                <input type="radio" name="flgBudget" value="0" autocomplete="off"> <b>NO</b>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-4">
                </div>
                <div class="col-md-3 col-sm-4 col-xs-4">
                    <div class="form-group">
                        <span> <i class="fa fa-eye"></i><b> EXPAND ALL:</b></span>
                        <br>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-light" id="flgShowCustomer1">
                                <input type="radio" name="flgShowCustomer" value="1" autocomplete="off"> <b>YES</b>
                            </label>
                            <label class="btn btn-info active" id="flgShowCustomer2">
                                <input type="radio" name="flgShowCustomer" value="0" autocomplete="off" checked> <b>NO</b>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="stkGrp" id="stkGrp" value="" />
        <div class="card-footer" id="headerSearchFooter">
            <div class="col-12 text-right">
                <div class="row">
                    <div class="col-6 text-left" style="">
                        @*<button type="button" class="btn btn-success btn-lg" id="btnSaveForecastSale" style="font-size: medium; float: left; position: relative;" onclick="saveForecastSale();"><i class="fa fa-save"></i> Save</button>*@
                    </div>
                    <div class="col-6 text-right" style="white-space: nowrap">
                        <button type="button" onclick="resetSearch();" class="btn btn-default btn-lg" id="btnmol" style="font-size: medium;"><i class="fa fa-pencil-square-o"></i> Reset</button> &nbsp;
                        <button type="button" class="btn btn-primary btn-lg" onclick="searchForecast();" style="font-size: medium;"><i class="fa fa-search"></i> Search</button>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
@*input*@
<div class="pt-2">
    @{
        if (@ViewBag.flagInput == "NO" && ((List<StoreSearchForecastSaleModel>)ViewBag.stkGroupList).Count() != 0)
        {
            <div class="col-xs-12 col-md-12 col-lg-6 alert alert-danger alert-dismissible fade show text-left" style="font-size: 18px; font-weight: bold;"> <button type="button" class="close" data-dismiss="alert">&times;</button> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Budget กรอกข้อมูลได้ช่วงวันที่ @ViewBag.startDate ถึง @ViewBag.endDate เท่านั้น</div>
        }
    }
    @*@Html.Partial("_listDataForecastSale", new { ViewBag.stkGroupList, @ViewBag.slmCode, @ViewBag.monthList, @ViewBag.cusCodeList, @ViewBag.secList, @ViewBag.MonthYearList, @ViewBag.cusNameList, @ViewBag.secAllArray })*@
    <div id="showDataInput"></div>
    <div id="showSumByMonth"></div>
</div>

<br>
<br>

<script>
    var countList = $("#countList").val() || 0;
    var userType = @this.Session["UserType"].ToString();
    var monthInput = @formattedMonthInputCurrentIndex;
    $(document).ready(function () {
        $("#flgBudget1").click(function () {
            $("#flgBudget1").removeClass("btn-light");
            $("#flgBudget1").addClass("btn-danger");
            $("#flgBudget2").removeClass("btn-danger");
            $("#flgBudget2").addClass("btn-light");
        });
        $("#flgBudget2").click(function () {
            $("#flgBudget2").removeClass("btn-light");
            $("#flgBudget2").addClass("btn-danger");
            $("#flgBudget1").removeClass("btn-danger");
            $("#flgBudget1").addClass("btn-light");
        });
        //btn show input
        $("#flgShowCustomer1").click(function () { //show
            hideBodyAll('show');
            $("#flgShowCustomer1").removeClass("btn-light");
            $("#flgShowCustomer1").addClass("btn-info");
            $("#flgShowCustomer2").removeClass("btn-info");
            $("#flgShowCustomer2").addClass("btn-light");
        });
        $("#flgShowCustomer2").click(function () {//not show
            hideBodyAll('hide');
            $("#flgShowCustomer2").removeClass("btn-light");
            $("#flgShowCustomer2").addClass("btn-info");
            $("#flgShowCustomer1").removeClass("btn-info");
            $("#flgShowCustomer1").addClass("btn-light");
        });
    });

    //show hide customer btn showinput
    function hideBodyAll(flag) {
        var lengthForecast = $("[id*=sale_forecast_]").length;
        if (lengthForecast > 0) {
            if (flag == 'show') {
                LoadingShow();
                $("[id*=header_]").toggleClass("fa-caret-down fa-caret-up");
                $("[id*=body_]").show();
                //focus input
                $("[id*=sale_forecast_]").focus();
                $(".main-card-body").animate({ scrollTop: 0 }, "fast");
                setTimeout(() => {
                    LoadingHide();
                }, "1000");
            } else {
                $("[id*=header_]").toggleClass("fa-caret-up fa-caret-down");
                $("[id*=body_]").hide();
            }
        } else {
            //ปุ่ม show input set "no"
            setTimeout(() => {
                $("#flgShowCustomer2").removeClass("btn-light");
                $("#flgShowCustomer2").addClass("btn-info");
                $("#flgShowCustomer1").removeClass("btn-info");
                $("#flgShowCustomer1").addClass("btn-light");
            }, "1000");
            Swal.fire({
                icon: 'warning',
                title: 'ไม่พบข้อมูล',
                //html: 'ไม่พบข้อมูล',
                confirmButtonColor: '#d33',
                confirmButtonText: 'ปิด',
                allowOutsideClick: false,
                focusConfirm: false,
            });
            return false;
        }
    }
</script>
@*@Scripts.Render("~/Scripts/scriptForecastSale.js")*@
@Scripts.Render("~/Scripts/scriptForecastMmSale.js")
@*<script src="~/Scripts/scriptForecastMmSale.js"></script>*@