@using BudgetForecast.Model;
@{
    ViewBag.Title = "Forecast by salesman";
    List<SelectListItem> getSlmCode = ViewBag.SlmCodeList;
    List<SelectListItem> getProdList = ViewBag.ProdList;
    List<SelectListItem> Sec = ViewBag.SecList;
    List<SelectListItem> MonthYearDrop = ViewBag.MonthYearList;
    ViewBag.MonthYearList = MonthYearDrop;

    int monthInputCurrentIndex = 0;
    var monthSplits = @ViewBag.MonthYearList[0].Text.Split('-');
    monthInputCurrentIndex = int.Parse(monthSplits[0]);
    string formattedMonthInputCurrentIndex = monthInputCurrentIndex.ToString("00");
}
<input type="hidden" id="slmCode_header" value="@ViewBag.slmCode" />
<input type="hidden" name="cusCode_header[]" id="cusCode_header" value="@ViewBag.cusCode" />
<input type="hidden" name="prodMgr_header[]" id="prodMgr_header" value="@ViewBag.prodMgr" />
<input type="hidden" name="stkSec_header[]" id="stkSec_header" value="@ViewBag.stkSec" />
<input type="hidden" id="year_header" value="@ViewBag.year" />
<input type="hidden" id="flagInput" value="@ViewBag.flagInput" />

<title>@ViewBag.Title</title>
<div class="card mb-12 mt-4">
    <form action="@Url.Action("Index", "ForecastSale")" method="post" id="forecastSaleForm" onsubmit="">
        <div class="card-header bg-primary text-white font-weight-bold" onclick="hideHeader();" style="cursor: pointer;">
            <div class="row">
                <div class="col-sm-12">
                    <i class="fa fa-table"></i> Forecast by salesman <i class="fa fa-angle-down" style="font-size: larger; font-weight: bold;"></i>
                </div>
            </div>
        </div>
        <div class="card-body" id="headerSearch">
            <div class="row">
                <div class="col-sm-3 col-lg-3">
                    <div class="form-group">
                        <span> <i class="fa fa-user"></i><b> SLMCODE:</b></span>
                        <span>
                            <select class="form-control selectpicker" id="slmCode" name="slmCode" style="width: 100%;" data-live-search="true" data-none-selected-text="SELECT SLMCODE">
                                @for (var i = 0; i < getSlmCode.Count; i++)
                                {
                                    <option value="@getSlmCode[i].Value">@getSlmCode[i].Text</option>
                                }
                            </select>
                        </span>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2">
                    <div class="form-group">
                        <span> <i class="fa fa-calendar"></i><b> YEAR:</b></span>
                        <span>
                            <select class="form-control selectpicker" id="year" name="year" style="width: 100%;">
                                <option value="2023" selected>2023</option>
                                <option value="2022">2022</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="col-md-7 col-lg-7">
                    <div class="form-group">
                        <span> <i class="fa fa-shopping-cart"></i><b> CUSTOMER CODE:</b></span>
                        <span>
                            <select class="form-control selectpicker cusCode" id="cusCode" name="cusCode" style="width: 100%; padding-top: 5px;" title="SELECT CUSTOMER" data-live-search="true" multiple>
                            </select>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <div class="form-group">
                        <span> <i class="fa fa-users"></i><b> PROD MGR:</b></span>
                        <span>
                            <select class="form-control selectpicker" id="prodMgr" name="prodMgr" style="width: 100%;" title="SELECT PROD MGR">
                                <option value="ALL">SELECT PROD MGR ALL</option>
                                @for (var i = 0; i < getProdList.Count; i++)
                                {
                                    <option value="@getProdList[i].Value">@getProdList[i].Text</option>
                                }
                            </select>
                        </span>
                    </div>
                </div>
                <div class="col-sm-9 col-md-9">
                    <div class="form-group">
                        <span> <i class="fa fa-shopping-cart"></i><b> SEC:</b></span>
                        <span>
                            <select class="form-control selectpicker stkSec" id="stkSec" name="stkSec" style="width: 100%; padding-top: 5px;" title="SELECT SEC" data-live-search="true" multiple>
                                <option value="ALL">SEC ALL</option>
                                @for (var i = 0; i < Sec.Count; i++)
                                {
                                    <option value="@Sec[i].Value">@Sec[i].Text</option>
                                }
                            </select>
                        </span>
                    </div>
                </div>
            </div>
            <input type="hidden" name="stkGrp" id="stkGrp" value="" />
        </div>
        <div class="card-footer" id="headerSearchFooter">
            <div class="row">
                <div class="col-xs-12 col-md-12 text-right">
                    @if (((List<StoreSearchForecastSaleModel>)ViewBag.stkGroupList).Count() != 0)
                    {
                        <button type="button" class="btn btn-success btn-lg" id="btnmol" style="font-size: medium; float: left; position: relative; " onclick="saveForecastSale();"><i class="fa fa-save"></i> Save</button>
                    }
                    <button type="button" onclick="resetSearch();" class="btn btn-default btn-lg" id="btnmol" style="font-size: medium;"><i class="fa fa-refresh"></i> Reset</button> &nbsp;
                    <button type="button" class="btn btn-primary btn-lg" onclick="searchForecast();" style="font-size: medium;"><i class="fa fa-search"></i> Search</button>
                </div>
            </div>
        </div>
    </form>
</div>
@*input*@
<div class="pt-2">
    @{
        if (@ViewBag.flagInput == "NO" && ((List<StoreSearchForecastSaleModel>)ViewBag.stkGroupList).Count() != 0)
        {
            <div class="col-xs-12 col-md-12 col-lg-6 alert alert-danger alert-dismissible fade show text-left" style="font-size: 18px; font-weight: bold;"> <button type="button" class="close" data-dismiss="alert">&times;</button> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Forecast กรอกข้อมูลได้ช่วงวันที่ @ViewBag.startDate ถึง @ViewBag.endDate เท่านั้น</div>
        }
    }
    @Html.Partial("_listDataForecastSale", new { ViewBag.stkGroupList, @ViewBag.slmCode, @ViewBag.monthList, @ViewBag.cusCodeList, @ViewBag.secList, @ViewBag.MonthYearList, @ViewBag.cusNameList, @ViewBag.secAllArray })
</div>

<br>
<br>

<script defer>
    var userType = @this.Session["UserType"].ToString();
    var monthInput = @formattedMonthInputCurrentIndex;

    console.log("userType = " + userType);

    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }

    //hide header
    function hideHeader() {
        var x = document.getElementById("headerSearch");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        var y = document.getElementById("headerSearchFooter");
        if (y.style.display === "none") {
            y.style.display = "block";
        } else {
            y.style.display = "none";
        }
    }

    function searchForecast(e) {
        $("#slmCode").prop('disabled', false);
        //LoadingShow();
        var msg = '';
        var error = 0;
        var cusCode = $("#cusCode option:selected").val();
        var stkSec = $("#stkSec option:selected").val();
        if (cusCode == undefined) {
            ++error;
            msg += '<br>' + error + '. กรุณาเลือก CUSTOMER อย่างน้อย 1 รายการ';
        }
        if (stkSec == undefined) {
            ++error;
            msg += '<br>' + error + '. กรุณาเลือก SEC อย่างน้อย 1 รายการ';
        }
        if (error) {
            LoadingHide();
            Swal.fire({
                icon: 'warning',
                title: 'กรุณาตรวจสอบข้อมูลต่อไปนี้',
                html: msg,
                confirmButtonColor: '#d33',
                confirmButtonText: 'ปิด',
                allowOutsideClick: false,
                focusConfirm: false,
            });
            return false;
        } else {
            LoadingShow();
            $('form[id="forecastSaleForm"]').submit();
        }
    }

    function resetSearch() {
        LoadingShow();
        location.reload();
        //LoadingHide();
    }

    $(document).ready(function () {
        //selectpicker stkgrp
        function toggleSelectAll(control) {
            var allOptionIsSelected = (control.val() || []).indexOf("ALL") > -1;
            function valuesOf(elements) {
                return $.map(elements, function (element) {
                    return element.value;
                });
            }

            if (control.data('allOptionIsSelected') != allOptionIsSelected) {
                if (allOptionIsSelected) {
                    control.selectpicker('val', valuesOf(control.find('option')));
                } else {
                    control.selectpicker('val', []);
                }
            } else {
                if (allOptionIsSelected && control.val().length != control.find('option').length) {
                    control.selectpicker('val', valuesOf(control.find('option:selected[value!=ALL]')));
                    allOptionIsSelected = false;
                } else if (!allOptionIsSelected && control.val().length == control.find('option').length - 1) {
                    control.selectpicker('val', valuesOf(control.find('option')));
                    allOptionIsSelected = true;
                }
            }
            control.data('allOptionIsSelected', allOptionIsSelected);
        }
         $('#cusCode').selectpicker().change(function () { toggleSelectAll($(this)); }).trigger('change');
         $('#stkSec').selectpicker().change(function () { toggleSelectAll($(this)); }).trigger('change');
         //GET CUSTOMER
         $('#slmCode').change(function () {
            $.ajax({
                url: '@Url.Action("Getdatabyslm", "ForecastSale")',
                data: {
                    slmCode: $(this).val(),
                },
                type: "POST",
                dataType: "JSON",
                success: function (data) {
                    //console.log(data);
                    var select = $("#cusCode");
                    select.children().remove();
                    select.append($("<option>").val("ALL").text("CUSTOMER ALL"));
                    $.each(data, function (key, value) {
                        select.append('<option value=' + value.CUSCOD + '>' + value.CUSCOD + '|' + value.CUSNAM + '</option>');
                    });
                    $('#cusCode').selectpicker('refresh');
                    if ($("#cusCode option:selected").val() == "") {
                        $("#cusCode").val($("#cusCode option:first").val());
                    }
                }
            });
        });
        //GET Stkgroup
        $('#prodMgr').change(function () {
            var stkSecHeader = $("#stkSec_header").val();
            var prodMgrHeader = $("#prodMgr_header").val();
            var prodMgrCurrent = $(this).val();

            //console.log("prodMgrHeader = " + prodMgrHeader + " prodMgrCurrent = " + prodMgrCurrent);

            var stkArray = new Array();
            var ProdMRG = $('#prodMgr').val();
            if (ProdMRG != 'ALL') { // PROD MGR != ALL
                $.ajax({
                    url: '@Url.Action("GetSTKGRP", "BudgetSale")',
                    data: {
                        ProdMRG: ProdMRG
                    },
                    type: "POST",
                    dataType: "JSON",
                    success: function (data) {
                        var select = $("#stkSec");
                        select.children().remove();
                        select.append($("<option>").val("ALL").text("SEC ALL"));
                        $(data).each(function (index, item) {
                            select.append($("<option>").val(item.SEC).text(item.SEC + "/" + item.SECNAM));
                            stkArray.push(item.SEC);
                        });
                        //console.log("stkArray = " + stkArray);
                        $('#stkSec').selectpicker('refresh');
                        if (prodMgrHeader == prodMgrCurrent) {
                            $('#stkSec').selectpicker('val', JSON.parse(stkSecHeader));
                        } else {
                            stkArray.push('ALL');
                            $('#stkSec').selectpicker('val', stkArray);
                            //$('#stkSec').selectpicker('refresh');
                        }
                        $('#stkSec').trigger('change');
                    }
                });
            } else {
                //PROD MGR == ALL
                var itemSelectorOption = $('#stkSec option:selected');
                itemSelectorOption.remove();
                $('#stkSec').selectpicker('refresh');
                var select = $("#stkSec");
                select.children().remove();
                select.append($("<option>").val("ALL").text("SEC ALL"));
                $('#stkSec').selectpicker('val', 'ALL');
                $('#stkSec').selectpicker('refresh');
            }
        });
    });
    function getCustomerBySlmCode(_slmCode) {
        //alert(_slmCode);
        let slmCode = "";
        if (_slmCode == "") {
            slmCode = $("#slmCode option:selected").val();
        } else {
            slmCode = _slmCode;
        }
        //alert(slmCode);
        $.ajax({
            url: '@Url.Action("Getdatabyslm", "ForecastSale")',
            data: {
                slmCode: slmCode,
            },
            type: "POST",
            dataType: "JSON",
            success: function (data) {
                //console.log(data);
                var select = $("#cusCode");
                select.children().remove();
                select.append($("<option>").val("ALL").text("CUSTOMER ALL"));
                $.each(data, function (key, value) {
                    select.append('<option value=' + value.CUSCOD + '>' + value.CUSCOD + '|' + value.CUSNAM + /*"----ที่อยู่ " + value.ADDR_01 + " " + value.PRO +*/ '</option>');
                });
                if ($("#cusCode option:selected").val() == "") {
                    $("#cusCode").val($("#cusCode option:first").val());
                }
                $('#cusCode').selectpicker('refresh');
                //customer selected
                $('#cusCode').selectpicker('val', JSON.parse($("#cusCode_header").val()));
            }
        });
    }
    function getStkgrpByProd(_prodCode) {
        var stkSecHeader = $("#stkSec_header").val();
        var stkArray = new Array();
        if (_prodCode == "") {
            prodCode = $("#prodMgr option:selected").val();
        } else {
            prodCode = _prodCode;
        }
        console.log("getStkgrpByProd = " + prodCode);
        $.ajax({
            url: '@Url.Action("GetSTKGRP", "ForecastPm")',
            data: {
                ProdMRG: prodCode
            },
            type: "POST",
            dataType: "JSON",
            success: function (data) {
                // console.log(data);
                var select = $("#stkSec");
                select.children().remove();
                select.append($("<option>").val("ALL").text("SEC ALL"));
                $(data).each(function (index, item) {
                    select.append($("<option>").val(item.SEC).text(item.SEC + "/" + item.SECNAM));
                    stkArray.push(item.SEC);
                });
                $('#stkSec').selectpicker('refresh');
                if (stkSecHeader != "[]") {
                    $('#stkSec').selectpicker('val', JSON.parse(stkSecHeader));
                } else {
                    stkArray.push('ALL');
                    $('#stkSec').selectpicker('val', stkArray);
                }
            }
        });
    }

    document.onreadystatechange = function () {
        if (document.readyState === 'interactive') {
            LoadingShow();
        }
        if (document.readyState === "complete") {
            var stkSecHeader = $("#stkSec_header").val();
            var prodMgr = $("#prodMgr_header").val();
            var prodMgrCurrent = $("#prodMgr option:selected").val();
            var stkArray = new Array();

            $('#slmCode').val($("#slmCode_header").val());
            $('#cusCode').selectpicker('val', JSON.parse($("#cusCode_header").val()));

            //console.log("stkSecHeader = " + stkSecHeader);

            if (stkSecHeader != null) {
                if (stkSecHeader.includes("ALL")) {
                    $("#stkSec").val('').trigger('change');
                }
            }
            if (stkSecHeader != "[]") {
                $('#stkSec').selectpicker('val', JSON.parse(stkSecHeader));
            }

            $('#year').val($("#year_header").val());
            //get list customer
            getCustomerBySlmCode($('#slmCode option:selected').val());

            if (prodMgr != "[]" && prodMgr != "ALL") {
                // alert('getStkgrpByProd');
                $('#prodMgr').selectpicker('val', prodMgr);
                getStkgrpByProd($("#prodMgr option:selected").val());
                //$('#stkSec').trigger('change');

            } else {
                $('#prodMgr').selectpicker('val', 'ALL');
                $('#stkSec').selectpicker('val', 'ALL');
                //$('#stkSec').selectpicker('refresh');
            }

            //flagInput = เลยเวลาคีย์แล้ว
            let flagInput = $("#flagInput").val();
            if (flagInput == 'NO') {
                $(window).unbind('beforeunload');
                $(".mask").prop('disabled', true);
            }
            //กรอกได้เฉพาะเดือนปัจจุบันเท่านั้น
            //$('input[name^="sale_forecast_110A0126_110_7"]').prop('readonly', true);

            $("[class*=sale_forecast_]").prop('readonly', true);
            if (monthInput != "") { //กรอกได้เฉพาะเดือนปัจจุบันเท่านั้น
                $(".sale_forecast_" + monthInput).prop('readonly', false);
            }

            if (userType == 3) {
                $("#slmCode").prop('disabled', true);
            }

            LoadingHide()
        }
    }
</script>